<h2>Edit Poi</h2>

<form>
    <div class="form-group poi-title">
      <label class="control-label" for="title">Title</label>
      <input type="text" class="form-control" id="title" value="{{title}}">
    </div>
    <div class="form-group poi-content">
      <label class="control-label" for="content">Content</label>
      <input type="text" class="form-control" id="content"  value="{{content}}">
    </div>
    <div class="form-group poi-lat">
      <label class="control-label" for="lat">Lattitude</label>
      <input type="text" class="form-control" id="lat"  value="{{lat}}">
    </div>
    <div class="form-group poi-long">
      <label class="control-label" for="long">Longitude</label>
      <input type="text" class="form-control" id="long"  value="{{long}}">
    </div>
    <div class="form-group poi-image_url">
      <label class="control-label" for="image_url">Image URL</label>
      <input type="text" class="form-control" id="image_url"  value="{{image_url}}">
    </div>

  <p><button type="submit">Save</button></p>

</form>

<p>{{#link 'pois'}}Back to overview{{/link}}</p>
