<h2>{{name}}</h2>

<p>Manufactured: {{manufactured}}</p>

<p>title: {{title}}</p>
<p>content: {{content}}</p>
<p>lat: {{lat}}</p>
<p>long: {{long}}</p>
<p>image_url: {{image_url}}</p>


<p>{{#link 'pois'}}Back to overview{{/link}}</p>
